@charset "UTF-8";
/* CSS Document */

body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #342d25;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
}
a {
  text-decoration:none;
  color: #50617f;
}
a:hover {
  text-decoration:underline;
}
.twitter-icon, .feed-icon, .st_sharethis_custom {
float: left;
}
.st_sharethis_custom {
	margin:0px 5px;
}
.FrontPage #container {
	width: 994px;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */
	height:auto;
}
.homelink {
  width:450px;
  height:90px;
  text-indent:-99999px;
  display:block;
  position:absolute;
}
.FrontPage a {
	color:#89b4f9;
	}
.FrontPage #header {
	background-image:url(../images/homeheaderbg.jpg);
	position: relative;
	padding: 0 0 0 0;
	height:94px;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
}
/* .FrontPage */
 #navigation {
	padding: 0 0 0 0;
	background:url(../images/homenavbg.gif) repeat-x;
	height:40px;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
}
.FrontPage #navigation a {
	padding: 10 0 0 0;
	margin:0; /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
	font-family: 'Cuprum', arial, sans serif;
	font-size:18px;
	color:white;
}

.FrontPage #donate {
	position:relative;
	float:right;
	padding:8px;
}
.FrontPage #homebox {

	background:url(../images/homebg.jpg);
	height:483px;
	position:relative;
	z-index:0;
	padding: 0; /* remember that padding is the space inside the div box and margin is the space outside the div box */
}
.FrontPage #motto {
	background:url(../images/homebox.png);
	width:246px;	margin:50px 0 0 69px;
	float:left;
	position: absolute;
}
.FrontPage #joinbutton {
text-align:center;
	height:auto;
	width:246px;
	margin: 10px 0px;
}
.FrontPage #content-area {
	overflow:hidden;
	padding:10px 10px 0px 10px;
	font-size:14px;
	font-style:italic;
	line-height:25px;
	font-family: 'Droid Sans','Yanone Kaffeesatz', Verdana, arial, serif;
	}
.FrontPage a {
	color:FFF;
}
.FrontPage p {
margin:0;
}
.FrontPage #whatsnew {
	float:left;
	width:150px;
	padding:18px 0 0 110px;
	font-size:12px;
	color:#FFFFFF;
}

.FrontPage #blog {
	float:left;
	position:relative;
	width:180px;
	padding:18px 0 0 170px;
	color:#FFFFFF;
	font-size:12px;
}
.FrontPage #blog li {
  list-style:none;
}
.FrontPage .block ul, .FrontPage .item-list ul {
  margin:0px;
  padding:0px;
}
.FrontPage .block ul, .FrontPage .item-list li {
  padding: 0px 0px 10px;
  margin:0px;
}
.FrontPage #news {
	float:left;
	position:relative;
	width:180px;
	padding:18px 0 0 170px;
	color:#FFFFFF;
	font-size:12px;
}
.FrontPage #footer {
	padding: 0; /* this padding matches the left alignment of the elements in the divs that appear above it. */
	background: #4d6378 url(../images/footerbg.jpg) no-repeat;
	margin:14px 0 0 0;
	position: relative;
	overflow: hidden;
}
.FrontPage #footer p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
}
#subHeadImage {
width:986px;
height:187px;
}
.header_who-we-are {
background:url(../images/headers/header_who-we-are.jpg);
}
.subPages #container {
	background:url(../images/subbg.gif);
	 /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */
	min-height: 900;
	position: relative;
	z-index: 2;
}
.subPages #main-wrapper {
	position:relative;
	top:1px;
}
.subPages .content a {
	color:#50617f;
	}
.subPages .content a:visited {
	color:#50617f;
	}
.subPages  .content a:active {
	color:#50617f;
	}
.subPages .content a:hover {
	color:#000000;
	}

.subPages #page {
	width: 986px;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
	min-height: 900;
	margin:0 auto;
}
.subPages #header {
	padding: 0px;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
}
.subPages #header h1 {
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 0; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
}
.subPages #leftContent {
	float: left; /* since this element is floated, a width must be given */
	width: 585px; /* the actual width of this div, in standards-compliant browsers, or standards mode in Internet Explorer will include the padding and border in addition to the width */
	/* padding keeps the content of the div away from the edges */
	margin:auto;
}
.subPages .title {
	color:#51617f;
	font-family: "Cuprum", Verdana, "sans serif";
	padding: 20px 0px 10px 0px;
	display:inline-block;
}
.subPages .region-content-top {
	display:inline-block;
	background: url(../images/homenavbg.gif);
width: 590px;
margin-top: -1px;
}
.subPages #leftContentPad {
	padding: 0 25px 0 25px;
	}
.subPages #sidebar2 {
	float: right; /* since this element is floated, a width must be given */
	 /* the actual width of this div, in standards-compliant browsers, or standards mode in Internet Explorer will include the padding and border in addition to the width */
	 /* the background color will be displayed for the length of the content in the column, but no further */
	padding: 0; /* padding keeps the content of the div away from the edges */
	text-align:center;
	width:145px;
}
.subPages .title #sidebar2  {
	color:#000000;
	}

.subPages #sidebar2Pad {
	text-align:left;
	padding:0px 20px;
}
.subPages #sidebar {
/* the right and left margins on this div element creates the two outer columns on the sides of the page. No matter how much content the sidebar divs contain, the column space will remain. You can remove this margin if you want the #sidebar div's text to fill the sidebar spaces when the content in each sidebar ends. */
	text-align:center;
	margin: 0 140px 0 590px;
	padding: 0px; /* remember that padding is the space inside the div box and margin is the space outside the div box */

}
.subPages #sideBarContent {  /* the right and left margins on this div element creates the two outer columns on the sides of the page. No matter how much content the sidebar divs contain, the column space will remain. You can remove this margin if you want the #sidebar div's text to fill the sidebar spaces when the content in each sidebar ends. */
	padding: 0px 20px 0px 20px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
	text-align:left;
}
.subPages #footer {
	padding: 0 10px 0 20px; /* this padding matches the left alignment of the elements in the divs that appear above it. */
	background:#342D25;
}
.subPages #footer p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: 10px 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
}
.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
#background {
    width: 986;
    height: 100%;
	margin: 0 auto;
    position:absolute;
    z-index: -2;
}

.stretch {
	width: 986;
    height:100%;
}
#hiddenNav {
display:none;
}
.breadcrumb {
	background:url(../images/homenavbg.gif);
	color:white;
    font-family: 'Cuprum', Verdanan, "sans serif";
	font-size:14px;
	padding-left:20px;
	padding-top:5px;
	width:570px;
}
.breadcrumb a {
	color:white;
	text-decoration:none;
	}

/******************************
 Global CSS for ALL menu types
******************************/

.subPages ul.nice-menu,
ul.nice-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
 /*  border-top: 1px solid #ccc; */
}

.FrontPage ul.nice-menu,
ul.nice-menu ul {
  list-style: none;
  padding: 0px 0px 0px 70px;;
  margin: 0;
 /*  border-top: 1px solid #ccc; */
}

.subPages ul.nice-menu li {
  border-top: 0;
  float: left;
  margin: 0;
  padding: 2px 0px 0px 0px;
  font-family: 'Cuprum', Verdanan, "sans serif";
  font-size:16px;
/*   background:url(../images/navimages/navoff.gif); */
	height:39px;
}
/*

.subPages ul.nice-menu li:hover {

  background:url(../images/navimages/navon.gif);
}
*/
.FrontPage .menu-path-node-1 {
display:none;
}
/**** .FrontPage  */
ul.nice-menu li {
/*  border: 1px solid #ccc;*/
  border-top: 0px;
  float: left;
  /*background-color: #fff;
   Additional overrides to deal with Garland theme. */
  margin: 0;
  padding: 2px 0px 0px 0px;
/*  background-image: none;*/
  font-family: 'Cuprum', Verdanan, "sans serif";
  font-size:18px;
  color:#FFFFFF;
  background:url(../images/homenavbg.gif);
	height:40px;
}

 .FrontPage ul.nice-menu a {
  padding: 10px 20px;
  text-decoration:none;
  color:#FFFFFF;
}

/**** .FrontPage  */
ul.nice-menu a:hover {
color:#a1c9bf;
}
/**** .FrontPage  */
ul.nice-menu li:hover {

  color:#a1c9bf;
}

/* Overrides for Garland header. */
#header-region ul.nice-menu li {
  margin: 0;
  /* Padding rules are needed to deal with Garland's header line-height. */
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  /*background: #fff;*/
}

.subPages #leftContent ul.nice-menu a {
  padding: 10px 18px;
  text-decoration:none;
  color:white;
/*   color:#3a4e6c; */
}

ul.nice-menu ul,
/* Repeat for Garland header. */
#header-region ul.nice-menu ul {
  top: 1.8em;
  left: -1px;
  border: 0;
  margin-right: 0;
  margin:0;
  padding:0;
}

/* Override for Garland header. */
#header-region ul.nice-menu ul {
  top: 1.7em;
}

ul.nice-menu ul li {
  width: 12.5em;
}
.mceContentBody  {
	background-color:#FFFFFF;
	text-align:left;
	}
/******************************
 HORIZONTAL (down) menus
******************************/

ul.nice-menu-down {
  float: left;
  border: 0;
  padding:0px;
  margin:0px;

}

ul.nice-menu-down li {
 /* border-top: 1px solid #ccc;*/
}

ul.nice-menu-down li li {
  border-top: 0;
}

ul.nice-menu-down ul {
  left: 0;
}

ul.nice-menu-down ul li {
  clear: both;
}

ul.nice-menu-down li ul li ul,
/* Repeat for Garland header. */
#header-region ul.nice-menu-down li ul li ul {
  left: 6em;
  /*top: -1px;*/
}

.subPages ul.nice-menu-down .menuparent a {
  padding-right: 15px;
}
.FrontPage .ul.nice-menu-down .menuparent a {
  padding-right: 13px;
}

ul.nice-menu-down li.menuparent,
/* Repeat for Garland header. */
#header-region ul.nice-menu-down li.menuparent {
 /* background: #eee url(arrow-down.png) right center no-repeat;*/
}

/*** .FrontPage  */
ul.nice-menu-down li.menuparent:hover,
ul.nice-menu-down li.over,
/* Repeat for Garland header. */
#header-region ul.nice-menu-down li.menuparent:hover,
#header-region ul.nice-menu-down li.over {
color:#a1c9bf;
 /* background: #ccc url(arrow-down.png) right center no-repeat;*/
}

/*** .FrontPage  */
ul.nice-menu-down li li.menuparent,
/* Repeat for Garland header. */
#header-region ul.nice-menu-down li li.menuparent {
  /*background: #eee url(arrow-right.png) right center no-repeat;*/
  color:#a1c9bf;
}

/**** .FrontPage  */
ul.nice-menu-down li li.menuparent:hover,
ul.nice-menu-down li li.over,
/* Repeat for Garland header. */
#header-region ul.nice-menu-down li li.menuparent:hover,
#header-region ul.nice-menu-down li li.over {
 /* background: #ccc url(arrow-right.png) right center no-repeat;*/
 color:#a1c9bf;
}
.block-nice_menus {
  line-height: normal;
  z-index: 10;
  margin:0;
}
.st_sharethis_custom {
  background:url(../images/share.gif);
  width:35px;
  height:35px;
  display:inline-block;
}

#sampleHeaderPic {
  padding: 0 20px;
}

/*swaplink*/
#swaplink {
	position: absolute;
	width: 109px;
  height: 37px;
  right: 16px;
  top: 50px;
  text-indent: -9999999px;
  display: block;
  background: url(../images/swaplink.png) no-repeat;
}
.front #swaplink {
background: none;
}


#whatsnewlink {
	display: block;
	width:69px;
	height:69px;
	text-indent: -999999px;
	position: absolute;
	top: 28px;
	left: 24px;
}
#bloglink {
	display: block;
	width:69px;
	height:69px;
	text-indent:-999999px;
	position: absolute;
  top: 28px;
	left: 340px;
	z-index: 9;
}
#newsletterlink {
	display: block;
	width:69px;
	height:69px;
	text-indent:-999999px;
	position: absolute;
  top: 28px;
	left: 696px;
	z-index: 9;
}
.blog-title a,
.view-link a {
  font-size: 16px;
  /*color: #ff7f50;*/
  color: #4b637f;
}
.view-blog-roll .picture {
  float:left;
}
.view-blog-roll .picture img {
  padding-right:10px;
}
.view-blog-roll ul {
  font-size:14px;
  list-style: none;
}
.clear {
  clear:both;
}
.blog .body {
  margin-top: 18px;
}
.blog.my-view-row {
  border-bottom: 1px dashed #4b637f;
  padding-bottom: 20px;
}
