@charset "UTF-8";
body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #261f1d;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
}
a, a:visited, a:active {
	color:#FFFFFF;
	text-decoration:none;
}
a:hover {
	color:#FFFFFF;
	text-decoration:underline;
}
.oneColFixCtrHdr #page {
	background-image:url(../images/homebg.jpg);
	width: 1110px;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */
}
.oneColFixCtrHdr #container {
	background-image:url(../images/subbg.jpg);
	width: 1080px;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	text-align: left; /* this overrides the text-align: center on the body element. */
}
.oneColFixCtrHdr #header {
	padding: 0 0 0 0;
	height:40px;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
}
.st_sharethis_custom {
background:url(../images/sharethis.png);
width:63px;
height:64px;
display:inline-block;
}
#header2 {
	padding: 0 0 0 0;
	background:url(../images/subnav.jpg) no-repeat;
	height:57px;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
}
.front-page #header2 {
	padding: 0 0 0 0;
	background:url(../images/homenav.jpg);
	height:56px;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
}
.oneColFixCtrHdr #mainContent {
	padding: 0; /* remember that padding is the space inside the div box and margin is the space outside the div box */
}
#subbillyDiv {
	margin:-82px 0 5px 76px;
	background:url(../images/subbody.png) no-repeat;
	height:316px;
	width:800px;
	padding: 0px 0px 0px 235px;
}
#billyDiv {
	margin:-82px 0 0px 76px;
	background:url(../images/homebody.png) no-repeat;
	height:586px;
	width:800px;
	padding: 0px 0px 0px 235px;
}
#subContent {
	margin:0px 0 10px 76px;
	/*background:url(../images/subcontentbg.gif) repeat-y;*/
	padding:0px 0 0 0;
}
.front-page .menu-path-front {
	display:none;
}
.front-page a {
color:#FFFFFF;
}
.edit a {
color:#000000;
}
#book {
	float:right;
	padding:137px 126px 0 0;
}
#subcallout{
	float:right;
	width:260px;
	padding:35px 110px 0 0;
}
#moviediv {
	float:left;
	padding:20px 52px 29px 40px;
}
.front-page #contentdiv {
	float:left;
	position:relative;
	width:345px;
	padding:20px 10px 0px 20px;
	height:244px;
}
.front-page #linksdiv {
	float:left;
	width:220px;
	padding:0 0 0 0;
}
#linksdiv {
	float:right;
	padding:0 0 0 0;
}
#titlediv {
	padding:192px 0 0 0;
	width: 400px;
}

.region-header {
height:30px;
float:left;
font-size:12px;
z-index:30;
}
#nice-menu-1 a {
	z-index:20;
}
#nice-menu-1 li {
	margin:0px 5px;
}
#titlediv h1 {
color:#FFFFFF;
}
#titlediv p {
color:#d08662;
}

#subcontentHolder {
	padding: 0 0 0 20px;
	}
#subRightCol {
	padding: 0px 0px 0px 20px;
	width: 340px;
	float:right;
	}
#subLeftCol {
	padding: 0 0 0 0px;
	width: 555px;
	float:left;
	}
.oneColFixCtrHdr #footer {
	padding: 0; /* this padding matches the left alignment of the elements in the divs that appear above it. */
	background:url(../images/footer.png) no-repeat;
	margin:0 0 0 76px;
	height:244px;
	width:950px;
	overflow:hidden;
}
.oneColFixCtrHdr #subfooter {
	padding: 0px 20px; /* this padding matches the left alignment of the elements in the divs that appear above it. */
	background:url(../images/subfooter.png) no-repeat;
	margin:0 0 0 76px;
	height:95px;
}
.oneColFixCtrHdr #footer p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
}
#sublinksdiv {
float:right;
padding:15px;
margin:0px 80px 0px 0px;
}
.front-page #EventsButton {
float:right;
padding:20px 0px;
}
.margin-block {
margin-bottom:0px;
}
.front-page #StayInTouchButton {
padding:0px 0px 20px 0px;
float:right;
}	
#EventsButton {
padding:20px;
}
#StayInTouchButton {
padding:20px;
}
#twitter {
padding: 0px 10px;
}	
#sharethis {
padding: 0px 10px;
}	
#facebook {
padding: 0px 10px;
}	
.breadcrumb {
	float:left;
	padding-left:95px;
	margin-bottom:5px;
	font-style:italic;
	color:#CCCCCC;
	/*padding-left:300px;*/
	font-size:12px;
}
.breadcrumb a {
	color:#999999;
	font-style:normal;
}
#subRightCol .view-image-gallery {
margin:0 0 0 60px;
text-align:center;
}
#tinymce a {
color:#000000;
}
.content {
color:none;
}
/*Calendar styles*/
.date-heading {
font-size:10px;
}
.calendar-calendar {

	width:300px;
}
.view-display-id-calendar_block_1 {
	width:300px;
}
#subLeftCol .images {
	padding:0px;
	margin:0px;
}
#subLeftCol .images li {
	padding:0px;
	margin:0px;
}
#subLeftCol .image-gallery-nodes ul {
	text-align:left;
	}
#subLeftCol .image-gallery-nodes ul li {
	text-align:center;
	width:265px;
	height:200px;
	}
span.Appearance-cal {
	height:10px;
	widows:10px;
	background-color:#009933;
	color:#009933;
}
span.Event-cal {
	height:10px;
	widows:10px;
	background-color:#660033;
	color:#660033;
}
span.Class-cal {
	height:10px;
	widows:10px;
	background-color:#999933;
	color:#999933;
}
.view-data-node-type {
display:none;
}

#block-views-calendar_billy-block_2 {
	display:none;
}
.legend a {
	color:#000000;
/*font-size:9px;*/
}

#calpopup-body a {
	color:#000000;

}

.calendar-calendar .inner {
height:2em;
height:2em;
min-height:2em;
}

/* Drop Down Styles */
/******************************
 Global CSS for ALL menu types
******************************/

#navigationHome li {

margin-right:20px;
padding-left:40px;	
}
#nice-menu-2 li {

 background: no-repeat url(../images/coin.png);
}
#nice-menu-2 li ul li {

 background: repeat-x url(../images/subdrop.gif);
}
ul.nice-menu-down ul li {
 background:url(../images/subdrop.gif);
  clear: both;
}
.front-page ul.nice-menu-down ul li {
 background:url(../images/homedrop.gif);
  clear: both;
}

#menu-193.menu-path-front {
	background:none;
}
.front-page #menu-119.menu-path-node-7 {
background:none;
}
.subPages ul.nice-menu,
ul.nice-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
 /*  border-top: 1px solid #ccc; */
}
 
.FrontPage ul.nice-menu,
ul.nice-menu ul {
  list-style: none;
  padding: 0px 0px 0px 70px;;
  margin: 0;
 /*  border-top: 1px solid #ccc; */
}

.subPages ul.nice-menu li {
/*  border: 1px solid #ccc;*/
  border-top: 0;
  float: left;
  /*background-color: #fff; 
   Additional overrides to deal with Garland theme. */
  margin: 0;
  padding: 2px 0px 0px 0px;
/*  background-image: none;*/
 color:#d08e72;
font-family: 'Molengo', arial, serif;
font-size:18px;
	height:39px;
}

.subPages ul.nice-menu li:hover {
background:none;
}
.FrontPage .menu-path-node-1 {
display:none;
}
.FrontPage ul.nice-menu li {
/*  border: 1px solid #ccc;*/
  border-top: 0px;
  float: left;
  /*background-color: #fff; 
   Additional overrides to deal with Garland theme. */
  margin: 0;
  padding: 2px 0px 0px 0px;
/*  background-image: none;*/
color:#d08e72;
font-family: 'Molengo', arial, serif;
font-size:18px;
	height:40px;
}

.FrontPage ul.nice-menu a {
  padding: 10px;
  text-decoration:none;
  color:#FFFFFF;
}
label {
font-size:12px;
}
.FrontPage ul.nice-menu a:hover {
color:#a1c9bf;
}
.FrontPage ul.nice-menu li:hover {

  color:#a1c9bf;
}

/* Overrides for Garland header. */
#header-region ul.nice-menu li {
  margin: 0;
  /* Padding rules are needed to deal with Garland's header line-height. */
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  /*background: #fff;*/
}

.subPages ul.nice-menu a {
  padding: 10px 20px;
  text-decoration:none;
  color:#3a4e6c;
}

ul.nice-menu ul,
/* Repeat for Garland header. */
#header-region ul.nice-menu ul {
  top: 1.8em;
  left: -1px;
  border: 0;
  margin-right: 0;
  margin:0;
  padding:0;
}

/* Override for Garland header. */
#header-region ul.nice-menu ul {
  top: 1.7em;
}

ul.nice-menu ul li {
  width: 12.5em;
}
.mceContentBody  {
	background-color:#FFFFFF;
	text-align:left;
	}
/******************************
 HORIZONTAL (down) menus
******************************/
ul.nice-menu a {
padding:0px;
}
ul.nice-menu-down {
  border: 0;
  padding:0px;
  margin:3px 50px 0px 0px;
  
}
.front-page ul.nice-menu-down {
  margin:15px 20px 0px 0px;
  
}


ul.menuparent li ul li {
 /* border-top: 1px solid #ccc;*/	
}

ul.nice-menu-down li li {
  border-top: 0;
}

ul.nice-menu-down ul {
  left: 0;
}

ul.nice-menu-down li ul li ul,
/* Repeat for Garland header. */
#header-region ul.nice-menu-down li ul li ul {
  left: 6em;
  /*top: -1px;*/
}

.subPages ul.nice-menu-down .menuparent a {
  padding-right: 15px;
}
.FrontPage .ul.nice-menu-down .menuparent a {
  padding-right: 13px;
}

ul.nice-menu-down li.menuparent,
/* Repeat for Garland header. */
#header-region ul.nice-menu-down li.menuparent {
 /* background: #eee url(arrow-down.png) right center no-repeat;*/
}

.FrontPage ul.nice-menu-down li.menuparent:hover,
ul.nice-menu-down li.over,
/* Repeat for Garland header. */
#header-region ul.nice-menu-down li.menuparent:hover,
#header-region ul.nice-menu-down li.over {
color:#a1c9bf;
 /* background: #ccc url(arrow-down.png) right center no-repeat;*/
}

.FrontPage ul.nice-menu-down li li.menuparent,
/* Repeat for Garland header. */
#header-region ul.nice-menu-down li li.menuparent {
  /*background: #eee url(arrow-right.png) right center no-repeat;*/
  color:#a1c9bf;
}

.FrontPage ul.nice-menu-down li li.menuparent:hover,
ul.nice-menu-down li li.over,
/* Repeat for Garland header. */
#header-region ul.nice-menu-down li li.menuparent:hover,
#header-region ul.nice-menu-down li li.over {
 /* background: #ccc url(arrow-right.png) right center no-repeat;*/
 color:#a1c9bf;
}
.block-nice_menus {
  line-height: normal;
  z-index: 10;
  margin:0;
}


/*NAVIGATION*/

/* $Id: navigation.css,v 1.5 2009/11/04 19:42:41 johnalbin Exp $ */

/**
 * @file
 * Navigation Styling
 */


/*
 * The active item in a Drupal menu
 */
li a.active {
  color: #000;
  font-style:italic;
}

/*
 * Navigation bar
 */
#navigationHome {
float:right;
color:#d08e72;
font-family: 'Molengo', arial, serif;
font-size:18px;
margin-right:15px;
z-index:10;
height:43px;
position:relative;
}
.navigationHome {
float:right;
color:#d08e72;
font-family: 'Molengo', arial, serif;
font-size:18px;
margin-right:15px;
z-index:10;
height:43px;
position:relative;
}
.front-page #navigationHome {

margin-right:45px;
}
#navigationHome a {
text-decoration:none;
color:#d08e72;
font-family: 'Molengo', arial, serif;
font-size:18px;
z-index:10;
	}
	
#navigationHome a:hover {
color:#EEEEEE;
	}
.region-navigation {
}

/*
 * Primary and Secondary menu links
 */
#main-menu {
}

#secondary-menu {
float:right;
color:#888888;
font-family: 'Cantarell', arial, serif;
font-size:15px;
margin-right:102px;
position:relative;
}
#secondary-menu a {
text-decoration:none;
	color:#888888;
z-index:10;
	}
#secondary-menu li {
margin-right:18.25px;	
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks. See http://drupal.org/project/menu_block
 */
.block-menu_block {
}
