
p {font-family: helvetica, arial, sans-serif; font-size:12px; color: #000000;line-height: 150%;}

th {font-family: helvetica, arial, sans-serif; font-size:12px; color: #000000;line-height: 150%;}

li {font-family: helvetica, arial, sans-serif; font-size:12px; color: #000000;line-height: 150%}

table {font-family: helvetica, arial, sans-serif; font-size:12px;color: #000000;line-height: 150%;}

td {font-family: helvetica, arial, sans-serif; font-size:12px; color: #000000;line-height: 150%;}

.text {font-family: helvetica, arial, sans-serif; font-size:12px; color: #000000; line-height: 150%}
.cd_text {font-family: helvetica, arial, sans-serif; font-size:12px; color: #000000;line-height: 150%}
.cd_bottm_text {font-family: helvetica, arial, sans-serif; font-size:11px; color: #000000;line-height: 130%}
.cd_bottom_text {font-family: helvetica, arial, sans-serif; font-size:11px; color: #000000;line-height: 130%}
.cd_small_text {font-family: helvetica, arial, sans-serif; font-size:10px; color: #000000;line-height: 125%}
.cd_small_ld_text {font-family: helvetica, arial, sans-serif; font-size:11px; color: #000000;line-height: 135%}
.quote_text {font-family: helvetica, arial, sans-serif; font-size:14px; color: #8A9875; line-height: 130%}
.quote_text_big {font-family: helvetica, arial, sans-serif; font-size:14px; color: #8A9875; line-height: 145%}
.quote_text_feb {font-family: helvetica, arial, sans-serif; font-size:12px; color: #8A9875; line-height: 140%}
.quote_text_mar {font-family: helvetica, arial, sans-serif; font-size:12px; color: #8A9875; line-height: 120%}

.page_title {font-family: helvetica, arial, sans-serif; font-size:14px; font-weight: bold; color: #34626B;line-height: 140%}
.page_title_apr {font-family: helvetica, arial, sans-serif; font-size:12px; font-weight: bold; color: #34626B;line-height: 130%}

.cd_link {  font-family: helvetica, arial, sans-serif; font-size: 12px; font-style: normal; line-height: 125%; font-weight: bold; color: #177F75; text-decoration: none;}
a.cd_link {  font-family: helvetica, arial, sans-serif; font-size: 12px; font-style: normal; line-height: 125%; font-weight: bold; color: #177F75; text-decoration: none;}
a:visited.cd_link {  font-family: helvetica, arial, sans-serif; font-size: 12px; font-style: normal; line-height: 125%; font-weight: bold; color: #177F75; text-decoration: none;}
a:hover.cd_link {  font-family: helvetica, arial, sans-serif; font-size: 12px; font-style: normal; line-height: 125%; font-weight: bold; color: #177F75; normal; text-decoration: underline;}

.cd_bottm_link {  font-family: helvetica, arial, sans-serif; font-size: 11px; font-style: normal; line-height: 125%; font-weight: normal; color: #177F75; text-decoration: none;}
a.cd_bottm_link {  font-family: helvetica, arial, sans-serif; font-size: 11px; font-style: normal; line-height: 125%; font-weight: normal; color: #177F75; text-decoration: none;}
a:visited.cd_bottm_link {  font-family: helvetica, arial, sans-serif; font-size: 11px; font-style: normal; line-height: 125%; font-weight: normal; color: #177F75; text-decoration: none;}
a:hover.cd_bottm_link {  font-family: helvetica, arial, sans-serif; font-size: 11px; font-style: normal; line-height: 125%; font-weight: normal; color: #177F75; normal; text-decoration: underline;}

.cd_side_link {  font-family: helvetica, arial, sans-serif; font-size: 12px; font-style: normal; line-height: 125%; font-weight: normal; color: #000000; text-decoration: none;}
a.cd_side_link {  font-family: helvetica, arial, sans-serif; font-size: 12px; font-style: normal; line-height: 125%; font-weight: normal; color: #000000; text-decoration: none;}
a:visited.cd_side_link {  font-family: helvetica, arial, sans-serif; font-size: 12px; font-style: normal; line-height: 125%; font-weight: normal; color: #000000; text-decoration: none;}
a:hover.cd_side_link {  font-family: helvetica, arial, sans-serif; font-size: 12px; font-style: normal; line-height: 125%; font-weight: normal; color: #177F75; normal; text-decoration: underline;}

.cd_grey_side_link {  font-family: helvetica, arial, sans-serif; font-size: 12px; font-style: normal; line-height: 125%; font-weight: normal; color: #34626B; text-decoration: none;}
a.cd_grey_side_link {  font-family: helvetica, arial, sans-serif; font-size: 12px; font-style: normal; line-height: 125%; font-weight: normal; color: #34626B; text-decoration: none;}
a:visited.cd_grey_side_link {  font-family: helvetica, arial, sans-serif; font-size: 12px; font-style: normal; line-height: 125%; font-weight: normal; color: #34626B0; text-decoration: none;}
a:hover.cd_grey_side_link {  font-family: helvetica, arial, sans-serif; font-size: 12px; font-style: normal; line-height: 125%; font-weight: normal; color: #177F75; normal; text-decoration: underline;}


